################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kemovizor001/.vs/Kemovizor001/v17/Browse.VC.opendb
/Kemovizor001/.vs/Kemovizor001/v17
