################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kemovizor001/.vs/Kemovizor001/v17/Browse.VC.opendb
/Kemovizor001/.vs/Kemovizor001/v17
/Kemovizor001/Kemovizor001/x64/Debug
/Kemovizor001/x64/Debug
/Kemovizor002/.vs/Kemovizor002/v17
/Kemovizor002/Kemovizor002/x64/Debug
/Kemovizor002/.vs/Kemovizor002/FileContentIndex
/Kemovizor002/x64/Debug
/Kemovizor003/.vs/Kemovizor003
/Kemovizor003/Kemovizor003/x64/Debug
/Kemovizor003/x64/Debug
/Kemovizor004/.vs/Kemovizor004
/Kemovizor004/Kemovizor004/x64/Debug
/Kemovizor004/x64/Debug
/Kemovizor005/.vs/Kemovizor005
/Kemovizor005/Kemovizor005/x64/Debug
/Kemovizor005/x64/Debug
/Kemovizor006/.vs/Kemovizor006
/Kemovizor006/Kemovizor006/x64/Debug
/Kemovizor006/x64/Debug
/Kemovizor007/.vs/Kemovizor007
/Kemovizor007/Kemovizor007/x64/Debug
/Kemovizor007/x64/Debug
/Kemovizor008/.vs/Kemovizor008
/Kemovizor008/Kemovizor008/x64/Debug
/Kemovizor008/x64/Debug
