################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kemovizor001/.vs/Kemovizor001/v17/Browse.VC.opendb
/Kemovizor001/.vs/Kemovizor001/v17
/Kemovizor001/Kemovizor001/x64/Debug
/Kemovizor001/x64/Debug
/Kemovizor002/.vs/Kemovizor002/v17
/Kemovizor002/Kemovizor002/x64/Debug
/Kemovizor002/.vs/Kemovizor002/FileContentIndex
/Kemovizor002/x64/Debug
